<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index - Projeto em Python</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
    <div class="bg-success p-5 text-center d-flex align-items-center" style="height: 100vh;">
        <div class="container border p-4 bg-white" style="width: 60vh;">
            <h1 class="display-4">Calculadora</h1>
            <hr />
            <form action="" method="POST" class="my-5">
                <input type="number" placeholder="Digite um número" name="n1" class="form-control my-3">
                <input type="number" placeholder="Digite um número" name="n2" class="form-control my-3">

                <button class="btn btn-success">
                    <input type="radio" name="option" value="soma" id="soma">
                    <label for="soma">Somar</label>
                </button>

                <button class="btn btn-danger">
                    <input type="radio" name="option" value="subtracao" id="subtracao">
                    <label for="subtracao">Subtrair</label>
                </button>

                <button class="btn btn-info">
                    <input type="radio" name="option" value="multiplicacao" id="multiplicacao">
                    <label for="multiplicacao">Multiplicar</label>
                </button>

                <button class="btn btn-warning">
                    <input type="radio" name="option" value="divisao" id="divisao">
                    <label for="divisao">Dividir</label>
                </button>

                <br><br>
                <button class="btn btn-primary">Calcular</button>
                <button class="btn btn-secondary" type="reset">Cancelar</button>

            </form>
        </div>

    </div>
</body>

</html>